*{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-flex {
  display: flex;
  /* border: 1px solid black; */
  flex-wrap: wrap;
  color: white;
}

.navigation {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 80px;
  /* width: 100vw; */
  background-color: orange;
  height: 80px;
  width: 100%;
  text-transform: uppercase;
  align-items: center;
  border: 1px solid black;
  position: fixed;

}

.special {
  margin-top: 80px;
}

.navigation a {
  margin-right: 30px;
  text-decoration: none;
}

.aside {
  background-image: linear-gradient(#191700, #1c1a01);
  color: white;
  /* height: 500px; */
  width: 15%;
  padding-left: 10px;
}

.aside img {
  width: 100%;
}

.contenuto {
  background-image: linear-gradient(to bottom right, #8d8003, #141200);
  /* height: 500px; */
  width: 85%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

}

.card {
  margin-top: 30px;
  margin-right: 15px;

}

.card img {
  height: 130px;
  width: 130px;

}

.player {
  background-color: gray;
  height: 80px;
  width: 100vw;
  position: fixed;
  left: 0;
  bottom: 0;

}
