* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: darkgrey;
}

a:hover {
  color: white;
}


.row {
  margin-bottom: 50px;
}

.container-flex {
  display: flex;
  flex-wrap: wrap;
  color: white;
}

.navigation {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #070707;
  height: 80px;
  width: 100%;
  text-transform: uppercase;
  align-items: center;
  position: fixed;
  color: white;
}

.navigation a {
  margin-right: 30px;
}


.wrapper {
  margin-top: 80px;
  min-height: calc(100vh - 160px);
  padding-top: 50px;
  padding-left: 50px;
}

.special-row {

}


.aside {
  font-size: 15px;
  background-color: #040404;
  color: darkgrey;
  width: 200px;
  padding-left: 20px;
  height: calc(100vh - 80px);
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  display: flex;
}

.aside hr {
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.tr {
  margin-bottom: 10px;
}

.aside-top {

}

.top-up i {
  margin-right: 10px;
  padding-top: 10px;
}

.aside-bottom {

}

#user {
  font-size: 30px;
}

.top-up {
  margin: 20px 0px;
}



#logo-large {
  width: 110px;
  height: 30px;
  margin-top: 20px;
}

#logo-small {
  display: none;
}

.contenuto {
  background-color: #121212;
  width: calc(100% - 200px);
  margin-left: 200px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.card {
  margin-top: 30px;
  margin-right: 15px;
  font-weight: bold;
}

.card img {
  height: 120px;
  width: 120px;
  /* border-radius: 50%; */
}

.player {
  display: flex;
  background-color: #282828;
  color: darkgrey;
  height: 80px;
  width: 100%;
  position: fixed;
  bottom: 0;
  justify-content: space-around;
}



.left  {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-shrink: 3;
}

.left img {
  height: 60px;
  width: 60px;
}

.center {
  text-align: center;
  flex-shrink: 3;
}

.right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 3;
}

.right i {
  margin-right: 15px;

}

#x {
  width: 450px;
  height: 3px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: darkgrey;
  border-radius: 3px;
}

#y {
  width: 60px;
  height: 3px;
  background-color: darkgrey;
  position: relative;
  right: 11px;
}

.simboli {
  margin-top: 10px;
  /* text-align: center; */
}

.simboli i {
  margin-right: 15px;
  margin-left: 15px;
}

.fa-pause-circle {
  font-size: 22px;
}

.barra {
  display: flex;
  align-items: center;
}

.testo {

}

@media screen and (max-width:576px) {

  .navigation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #070707;
    height: 80px;
    width: 100%;
    text-transform: uppercase;
    align-items: center;
    position: fixed;
    color: white;
  }

  .aside {
    font-size: 15px;
    background-color: #040404;
    color: darkgrey;
    width: 50px;
    padding-left: 8px;
    padding-right: 8px;
    height: calc(100vh - 80px);
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    display: flex;
  }

  .aside hr {
    margin-right: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .contenuto {
    background-color: #121212;
    width: calc(100% - 50px);
    margin-left: 50px;
  }

  .player {
    display: flex;
    background-color: #282828;
    color: darkgrey;
    height: 80px;
    width: 100%;
    position: fixed;
    bottom: 0;
    justify-content: space-around;
  }

  #logo-large {
    display: none;
  }

  #logo-small {
    display: block;
    height: 30px;
    width: 33px;
    margin-top: 20px;
  }

  .top-down, .invisible {
    display: none;
  }

  .fa-search {
    font-size: 25px;
    margin-left: 3px;
  }

  .fa-home {
    font-size: 25px;
  }

  .fa-bars {
    font-size: 25px;
    margin-left: 3px;
  }

  .fa-arrow-alt-circle-down {
    font-size: 25px;
    margin-left: 4px;
  }

  .fa-user {
    font-size: 25px;
    margin-left: 3px;
    margin-bottom: 10px;
  }




}
